<fieldset>

    <legend><%= title %></legend>

    <div>
        Quel logiciel de visioconférence utilisez-vous ? <br>

        <% Object.values(softwareDb).forEach(software => { %>
            <input type="radio" name="softwareChoice" id="<%= software.name %>" value="<%= software.name %>">
            <label for="<%= software.name %>"><%= software.french %></label><br>
        <% }) %>

        <input type="radio" name="softwareChoice" id="other" value="other">
        <label for="other">
            Autre        
        </label><br> 
        <input type="radio" name="softwareChoice" id="noSoftware" value="noSoftware">
        <label for="noSoftware">
            Aucun logiciel        
        </label>
    </div>

</fieldset>