<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/meeting/form.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>En quelques questions</h4>

    <form>

      Combien de personnes assisteront à la réunion ?<br> 
      <div>
        <button type="button" onclick="removeAParticipant()" class="plusMinusBtn">-</button>
        <span id="participantNumber"> 2 </span>
        <button type="button" onclick="addAParticipant()" class="plusMinusBtn">+</button>
        participants
      </div>
    
      <%- include('fieldset-hardware', { title: 'Matériel' }) %>
  
      <%- include('fieldset-software', { title: 'Logiciel' }) %>

      <%- include('fieldset-journey', { title: 'Trajets' }) %>

      <input type="submit">
    </form>
  </body>
</html>
