<div id="traveller-<%= p %>__journeyItem-n" class="traveller__journeyItem">
    <!--<button type="button" id="removeBtn-1-n" onclick="removeJourneyItem(id)">-</button>-->
    <div>
        <input name="journeys[traveller-<%= p %>__journeyItem-n][user]"
            type="hidden" value="Participant <%= p %>">
        <input name="journeys[traveller-<%= p %>__journeyItem-n][distance]"
            type="number" min="0" max="3000" value="0" id="kmNumber-p-n"
            oninput="kmNumberUpdate(value, id)" />

        km parcourus en

        <select name="journeys[traveller-<%= p %>__journeyItem-n][mean]">
        <% Object.values(transportationMeanDb).forEach(mean => { %>
            <option value="<%= mean.name %>"><%= mean.french %></option>
        <% }) %>
        </select>

        <br>
        <input type="range" min="0" max="3000" value="0" id="kmSlider-p-n"
            oninput="kmSliderUpdate(value, id)" />
        
        <br>
    </div>
</div>